#VeganMode {
    background-color: rgb(112,224,0);
    width:"20px";
    height:"20px";
    border-width: 5px;
    border-color:rgb(158,240,26);
    border-radius:3px;
    margin:auto;
    display:inline-block;
    cursor: pointer;                /*Pointer: Changes the cursor arrow to a hand*/
}

#Instagram{
    background-color:grey;
    border-color:transparent;
    width:"20px";
    height:"20px";
    display:inline-block;
    cursor: pointer;
}

#Facebook{
    background-color:gray;
    border-color:transparent;
    width:"20px";
    height:"20px";
    display:inline-block;
    cursor: pointer;
}

#Twitter{
    background-color:gray;
    border-color:transparent;
    width:"20px";
    height:"20px";
    display:inline-block;
    cursor: pointer;
}