#VeganMode {
    background-color: rgb(112,224,0);
    width:"20px";
    height:"20px";
    border-width: 5px;
    border-color:rgb(158,240,26);
    border-radius:3px;
    margin:auto;
    display:inline-block;
    cursor: pointer;                /*Pointer: Changes the cursor arrow to a hand*/
}

.Social{
    width:"20px";
    height:"20px";
    cursor: pointer;
    opacity:1;                  /*Opacity for image effect when hover*/
    transition:0.3s;
}

.Social:hover{
    opacity:0.5;
}

