body {
    background-image: url("Imagenes/Fondo.jpg");
    background-size: cover;
}

#Header {
    background-color: rgb(39, 37, 38);
}

#Restaurant_Name {
    font-family: 'WindSong', cursive;
    color: white;
    margin-top: 10px;
}

.row{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:nowrap;
}



.Social {
    width: 35px;
    height: 35px;
    display:block;
    margin-top: 15px;
    cursor: pointer;
    opacity: 1;
    /*Opacity for image effect when hover*/
    transition: 0.3s;
}

.Social:hover {
    opacity: 0.5;
}


#VeganMode {
    background-color: rgb(112, 224, 0);
    width: 30;
    height: 30;
    border-width: 5px;
    border-color: rgb(158, 240, 26);
    border-radius: 3px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
    /*Pointer: Changes the cursor arrow to a hand*/
}