<html>
    <head>
        <title>Miss&Mister Aguacate</title>
        <link rel="shortcut icon" href="Iconos/aguacate.png" />
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
    
        <!--Font family link provided by Google-->
        <link
          href="https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap"
          rel="stylesheet"
        />
        <!--Font family link provided by Google-->
    
        <!--Bootstrap template from CDN Bootstrap-->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous"
        />
        <!--Bootstrap template from CDN Bootstrap-->
    
        <!--Our css file-->
        <link type="text/css" rel="stylesheet" href="Styles/style.css" />
        <link type="text/css" rel="stylesheet" href="Styles/Header.css" />
        <link type="text/css" rel="stylesheet" href="Styles/Display.css" />
        <link type="text/css" rel="stylesheet" href="Styles/Menu.css" />
        <link type="text/css" rel="stylesheet" href="Styles/Form.css" />
        <link type="text/css" rel="stylesheet" href="Styles/InfoDish.css" />
        <link type="text/css" rel="stylesheet" href="Styles/Reviews.css" />
        <link type="text/css" rel="stylesheet" href="Styles/Footer.css" />
        <link type="text/css" rel="stylesheet" href="Styles/DeletedDish.css" />
        <!--Our css file-->
    
        <!--Bootstrap template from CDN Bootstrap-->
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>
        <!--Bootstrap template from CDN Bootstrap-->
    
        <!-- Library for stars rating in Reviews -->
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <!-- Library for stars rating in Reviews -->
    
        <!-- Our JS file -->
        <script src="main.js" type="module"></script>
        <!-- Our JS file -->
    </head>
<body>
  <div id="Header" class="row">
    <div id="Restaurant_Name" class="col-xs-6">
      <h1>Miss & Mister Aguacate</h1>
      <!--Restaurant Name-->
    </div>

    <div class="flex-gap">
      <div id="Insta" class="col-xs-2">
        <a href="https://www.instagram.com/" target="_blank">
          <img class="Social img-responsive" src="Iconos/insta.png" />
          <!--Link to Instagram-->
        </a>
      </div>
      <div id="Facebook" class="col-xs-2">
        <a href="https://es-es.facebook.com/" target="_blank">
          <img class="Social img-responsive" src="Iconos/facebook.png" />
          <!--Link to Facebook-->
        </a>
      </div>
      <div id="Twitter" class="col-xs-2">
        <a href="https://twitter.com/?lang=es" target="_blank">
          <img class="Social img-responsive" src="Iconos/twitter.png" />
          <!--Link to Twitter-->
        </a>
      </div>
    </div>
  </div>
  <!--Header from the page-->
  <div id="Display" class="row">
    <!--It will change between the following pictures every 5 seconds-->
    <img class="Photo" src="Imagenes/Cartel.jpg" />
    <img class="Photo" src="Imagenes/Amigos.jpg" />
    <img class="Photo" src="Imagenes/Mesa.jpg" />
    <img class="Photo" src="Imagenes/Sitio.jpg" />
  </div>
  <!--This is a display just decorative-->
  <div id="Head" class="row">
    <!--Default mode is Normal mode-->

    <div id="OptionButton1" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <button
        id="ModeLeft"
        class="MenuButton"
        onclick="changeMode('Vegano','Normal','Bebida')"
      >
        <img
          id="ImageModeLeft"
          class="menu-header-button img-responsive"
          src="Iconos/Vegano.png"
        />
      </button>
      <!--Vegan Button is loaded by default-->
    </div>

    <div id="MenuTitle" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <h1>Menú</h1>
    </div>

    <div id="OptionButton2" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <button
        id="ModeRight"
        class="MenuButton"
        onclick="changeMode('Bebida','Normal','Vegano')"
      >
        <img
          id="ImageModeRight"
          class="menu-header-button img-responsive"
          src="Iconos/Bebida.png"
        />
      </button>
      <!--Drink Button is loadedby default-->
    </div>
  </div>
	{{#dishes}}
    <div class="row dish {{type}}"><!--ClassName Mustache must be changed -->
	<div id="Image" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <img src={{img}} class="dish-image img-responsive">
      </div>
      <div class="MenuStyle col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="row">
          <div id="Name" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            {{name}}
          </div>
          <div id="Price" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            {{price}}€
          </div>
        </div>
        <div class="row">
          <div id="Info" class="ShowInfo col-12">
            <button onclick="window.location.href='/infoDish/{{id}}'">Más Info</button> 
          </div>
        </div>
      </div>
    </div>
	{{/dishes}}
	
	{{^dishes}}
	<p>No hay platos</p>
	{{/dishes}}

  <div id="NewDish" class="row"><!--ClassName Mustache must be changed -->
    <div id="Image" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <img src="Iconos/Plato.png" class="dish-image img-responsive">
        </div>
        <div class="MenuStyle col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="row">
            <div id="Name" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              Añadir un nuevo plato
            </div>
            <div id="Price" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              
            </div>
          </div>
          <div class="row">
            <div id="Info" class="ShowInfo col-12">
              <button onclick="window.location.href='/menu/create'">Añadir Plato</button>
            </div>
          </div>
        </div>
      </div>

      <div id="Reviews" class="row">
        <div id="ReviewsTitle">
          <h1>Reseñas</h1>
        </div>
    
        <div class="row">
          <div class="block col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Sergio De Oro Fernández</h4>
            <div class="Stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-full checked"></span>
              <span class="fa fa-star"></span>
            </div>
            <h6>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
              itaque ratione cupiditate consectetur nulla veritatis soluta
              accusantium est repellendus aliquam, omnis laborum magnam libero,
              laboriosam ipsam. Odio pariatur in nobis!
            </h6>
          </div>
    
          <div class="block col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Antonio José Alanís Bernal</h4>
            <div class="Stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-full checked"></span>
            </div>
            <h6>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
              ipsa fugit vel accusantium itaque laudantium beatae et quis, iusto
              ducimus nostrum suscipit quisquam voluptates tempore dignissimos
              eligendi, magnam reiciendis architecto.
            </h6>
          </div>
    
          <div class="block col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Kiko Martínez De Lizarduy</h4>
            <div class="Stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
            <h6>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
              quis fugit modi soluta, atque eum est dicta porro, vero corporis
              doloremque nulla. Dolor voluptatum iste in neque magnam earum
              nulla!
            </h6>
          </div>
        </div>
      </div>
      <!--Reviews Section; it does not work just only see some-->
    <div id="Footer" class="row">
        <div id="ContactInfo" class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <p>
              <img src="Iconos/Reloj.png" /> Horario: Lunes a Viernes 12:00 -
              01:00
            </p>
            <p>
              <img src="Iconos/Correo.png" /> Contacto:
              missandmisteraguacate@gmail.com
            </p>
            <p><img src="Iconos/Telefono.png" /> Teléfono: +34 910 00 00 00</p>
            <p><img src="Iconos/Mapa.png" /> Calle: Las Antenas, 21 45631</p>
          </div>
    
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div>
              <iframe
                id="Map"
                src="https://maps.google.com/maps?q=40.153524,%20-4.743002&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0"
              ></iframe>
            </div>
          </div>
        </div>
        <div id="Copyright" class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
              &copy; Design by Miguel y Demelza <img src="Iconos/corazon.png" />
            </p>
          </div>
        </div>
      </div>
      <!--Footer from the page-->
</body>
</html>