#DeletedDishMessage{
    font-family: "Times New Roman", Times, serif;
    color: black;
}

#DeletedDishImage{
    width: 20%;
    height: 20%;
    border-radius: 11%;
    object-fit: contain;
    margin-bottom: 20px;
}

.deletedStructure button{
    margin-bottom: 5px;
}

.deletedStructure{
    display:flex;
    justify-content: center;
}