/*Styles that affect the 'Reviews' block*/

#Reviews {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#ReviewsTitle {
  color: black;
  font-family: "WindSong", cursive;
}

.block h4 {
  display: flex;
  justify-content: center;
  text-align: justify; /*All the lines have the same width*/
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.Stars {
  display: flex;
  justify-content: center;
}

.checked {
  color: yellow;
}

.block h6 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify; /*All the lines have the same width*/
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
