#SavedDishMessage{
    font-family: "Times New Roman", Times, serif;
    color: black;
}

#SavedDishImage{
    width: 20%;
    height: 20%;
    border-radius: 11%;
    object-fit: contain;
    margin-bottom: 20px;
}

.savedStructure button{
    margin-bottom: 5px;
}

.savedStructure{
    display:flex;
    justify-content: center;
}