#Footer {
  background-color: rgb(39, 37, 38);
  display: flex;
  justify-content: space-between;
}

#ContactInfo {
  display: contents;
}

#Footer p {
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px;
  margin-top: 20px;
}

#Footer p img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

#Map {
  width: 550px;
  height: 250px;
  margin-top: 10px;
}

#Copyright {
  color: white;
  display: contents;
  text-align: center;
}
