/*Styles that affect the form*/

#Form {
  background-color: rgba(39, 37, 38, 0.2);
}

.FormStructure {
  display: flex;
  justify-content: center;
  align-content: center;
}

#FormImage {
  width: 190px;
  height: 190px;
  object-fit: contain;
  border-radius: 10px;
}

#FormPhoto {
  display: flex;
  align-items: center;
}

#AddImage {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

#BasicForm {
  margin-top: 30px;
}

label {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

#IngredientButton {
  background-color: white;
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.6);
  border-radius: 3px;
  font-family: "Times New Roman", Times, serif;
  color: black;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.FormButtons {
  margin-left: 30px;
  margin-bottom: 30px;
}

#formSaveButton {
  background-color: white;
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.6);
  border-radius: 3px;
}

#formCancelButton {
  background-color: white;
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.6);
  border-radius: 3px;
}

#IngredientListTitle {
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin-left: 20px;
}

#IngredientsList {
  margin-left: 20px;
}

.IngredientsStructure {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  margin-bottom: 5px;
}

.IngredientsStructureButton {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  margin-bottom: 5px;
  background-color: white;
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.6);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
