#Header {
  background-color: rgb(39, 37, 38);
}

#Restaurant_Name {
  font-family: "WindSong", cursive;
  color: white;
  margin-top: 10px;
}

.Social {
  width: 35px;
  height: 35px;
  display: inline;
  /*This is in order to avoid links out from the box*/
  margin-top: 15px;
  cursor: pointer;
  opacity: 1;
  /*Opacity for image effect when hover*/
  transition: 0.3s;
}

.Social:hover {
  opacity: 0.5;
}
