/*Styles that affect all elements of the 'Menu' block*/

#Menu {
  background-color: rgba(255, 255, 255, 0.8);
}

#Head {
  display: flex;
  justify-content: space-evenly; /*The space between the adjacent items, the start edge and the first item, and last edge and item is the same*/
  align-items: center;
}

#MenuTitle {
  color: black;
  font-family: "WindSong", cursive;
  text-align: center;
  margin-top: 10px;
}

.menu-header-button {
  width: 50px;
  height: 50px;
  object-fit: contain;
  text-align: center;
}

.MenuButton {
  background-color: rgba(39, 37, 38, 0.4);
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.7);
  border-radius: 3px;
  display: inline-block; /*This is in order to avoid links out from the box*/
}

#Block1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

#Menu p {
  text-align: center;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.ShowInfo {
  display: flex;
  flex-direction: column-reverse;
}

.InfoButton {
  background-color: rgba(39, 37, 38, 0.4);
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.7);
  border-radius: 3px;
}

.menu-arrow-button {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.ArrowButton {
  background-color: rgba(39, 37, 38, 0.4);
  border-width: 3px;
  border-color: rgba(39, 37, 38, 0.7);
  border-radius: 3px;
  margin: 10px;
}

#Block2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}

.dish-image {
  width: 190px;
  height: 190px;
  border-radius: 10px;
  object-fit: contain;
}

/* In order to align some items that where misplaced*/
#OptionButton1 {
  display: flex;
  flex-direction: row-reverse;
}

#Image0 {
  display: flex;
  flex-direction: row-reverse;
}

#NextArrow {
  display: flex;
  flex-direction: row-reverse;
}
#Image2 {
  display: flex;
  flex-direction: row-reverse;
}
/* In order to align some items that where misplaced*/
